.advantages {
  padding-top: 150px;
  padding-bottom: 150px;
  position: relative;
  overflow: hidden;
}

.titleContainer {
  margin: auto;
  max-width: 600px;
  margin-bottom: 75px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.title {
  padding: 0px;
  margin: 0px;
  font-size: 32px;
  color: #3a3f5c;
  text-align: center;
}

.text {
  max-width: 550px;
  color: #3a3f5c;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
}

.advantagesImageContainer {
  position: relative;
}

.advantagesImage {
  position: relative;
  left: -5px;
  max-height: 700px;
  width: auto;
  max-width: 520px;
  height: auto;
  text-align: center;

  animation-name: soaring;
  animation-delay: 1s;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.advantagesImageContainer::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 500px;
  height: 500px;
  background: #111;
  border-radius: 50%;
  z-index: -1;
}

.advantagesList {
  max-width: 1300px;
  margin: auto;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  animation-name: showProduct;
  animation-delay: 0.6s;
  animation-duration: 1.8s;
  animation-fill-mode: both;
}

.advantagesItemContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.advantagesItemContainerLeft {
  text-align: right;
}

.advantagesItem {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 40px;
  position: relative;
  width: 260px;
}

.advantagesItemText {
  margin: 0px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 100;
  color: #636363;
  text-align: center;
}

.advantagesItemContainerLeft
  .advantagesItem
  .advantagesItemLine
  .advantagesItemPoint {
  right: 0;
  left: unset;
}

.advantages-image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.advantagesItem-title {
  font-family: Corinthia;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 20px;
}

.advantagesItem-text {
  color: #888;
}

.advantagesIcon {
  position: relative;
  margin-bottom: 30px;
  width: 100px;
  height: 100px;
  background: #333;
  border-radius: 50%;
}

.advantagesIcon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.first::after {
  background-image: url("../../public/img/excellence/icon-1.svg");
}

.second::after {
  background-image: url("../../public/img/excellence/icon-2.svg");
}

.third::after {
  background-image: url("../../public/img/excellence/icon-3.svg");
}

.fourth::after {
  background-image: url("../../public/img/excellence/icon-4.svg");
}

@media screen and (min-width: 0px) and (max-width: 1300px) {
  .advantagesItemFirst .advantagesItemLine,
  .advantagesItemSecond .advantagesItemLine {
    right: -60px;
    width: 50px;
  }

  .advantagesItemThird .advantagesItemLine,
  .advantagesItemFourth .advantagesItemLine {
    left: -60px;
    width: 50px;
  }

  .advantagesImage {
    max-width: 280px;
  }
}

@media screen and (min-width: 0px) and (max-width: 1450px) {
  .cardProduct::after {
    height: 100px;
  }

  .cardProduct {
    padding-bottom: 150px;
  }
}

@media screen and (min-width: 0px) and (max-width: 1300px) {
  .advantagesImageContainer::after {
    width: 300px;
    height: 300px;
  }
}

@media screen and (min-width: 0px) and (max-width: 1150px) {
  .swiperSlideImg {
    width: 300px;
  }

  .titleContainer {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 0px) and (max-width: 1100px) {
  .advantagesItemFirst .advantagesItemLine,
  .advantagesItemSecond .advantagesItemLine {
    right: -50px;
    width: 40px;
  }

  .advantagesItemThird .advantagesItemLine,
  .advantagesItemFourth .advantagesItemLine {
    left: -50px;
    width: 40px;
  }

  .advantagesImage {
    max-width: 240px;
  }

  .advantagesImageContainer::after {
    width: 250px;
    height: 250px;
  }

  .advantages {
    padding-bottom: 40px;
  }

  .advantagesList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .advantagesItemFirst .advantagesItemLine,
  .advantagesItemSecond .advantagesItemLine,
  .advantagesItemThird .advantagesItemLine,
  .advantagesItemFourth .advantagesItemLine {
    display: none;
  }

  .advantagesItem {
    max-width: 420px;
    position: relative;
    width: auto;
    text-align: center;
  }

  .advantagesImageContainer {
    margin-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .cardProduct .swiperContainer::after {
    width: 100%;
  }

  .cardProduct .swipersSlideImg {
    bottom: 50px;
    max-height: 250px;
  }

  .cardProductSheetFourth {
    display: none;
  }
}

@media screen and (min-width: 0px) and (max-width: 850px) {
  .advantages {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .cardProduct {
    height: auto;
    max-height: unset;
  }

  .cardProductMainTitle {
    margin: auto;
    max-width: 700px;
    font-size: 60px;
    line-height: 50px;
  }

  .cardProduct .swiperContainer::after {
    bottom: -100px;
  }

  .cardProduct .swiperSlideImg {
    bottom: 50px;
    max-height: 310px;
  }

  .cardProductMain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .cardProductSwiperWrapper {
    margin-bottom: 50px;
  }

  .cardProductSwiperWrapper,
  .cardProductDescription {
    width: 100%;
  }

  .cardProductDescription {
    max-width: 400px;
  }

  .cardProductSheetSix {
    width: 50px;
    height: 50px;
  }

  .cardProductSheetThird {
    width: 50px;
    height: 50px;
  }
}

@media screen and (min-width: 0px) and (max-width: 800px) {
  .advantages {
    padding-top: 100px;
  }

  .advantagesItemTitle {
    font-size: 20px;
  }
}

@media screen and (min-width: 0px) and (max-width: 680px) {
  .advantages {
    padding-top: 50px;
    padding-bottom: 25px;
  }

  .titleContainer {
    margin: 0px;
    max-width: 400px;
    text-align: start;
  }

  .advantagesList {
    align-items: flex-start;
  }

  .advantagesImage {
    top: -80px;
  }

  .titleContainer {
    margin-bottom: 35px;
  }

  .title {
    padding: 0px;
    margin: 0px;
    font-size: 24px;
    color: #3a3f5c;
  }

  .cardProductSheetSecond {
    display: none;
  }

  .advantagesItem {
    padding: 0px;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    margin-bottom: 30px;
  }

  .advantagesImageContainer::after {
    top: 30%;
    width: 250px;
    height: 250px;
  }

  .advantagesItemText {
    text-align: start;
  }

  .advantagesIcon {
    margin: 0px;
    margin-right: 20px;
    min-width: 75px;
    min-height: 75px;
    width: 75px;
    height: 75px;
  }

  .advantagesImageContainer {
    position: absolute;
    right: -150px;
  }

  .advantagesItemText {
    color: #333;
  }

  .advantagesItem {
    max-width: 260px;
  }

  .text {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #3a3f5c;
  }
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  .cardProduct .swiperContainer::after {
    bottom: -120px;
  }
}

@media screen and (min-width: 0px) and (max-width: 380px) {
  .advantagesImageContainer {
    position: absolute;
    right: -180px;
  }
}

@media screen and (min-width: 0px) and (max-width: 340px) {
  .advantagesImageContainer {
    display: none;
  }
}
