.rating {
  margin-bottom: 25px;
}

.rating {
  display: flex;
  align-items: center;
}

.companies {
  position: sticky;
  top: 50px;

  width: 25%;
}

.wrapper {
  position: sticky;
  top: 25px;
}

.companiesItem {
  margin-bottom: 25px;
  padding: 15px;
  // border: 1px solid #e0e0e0;
  border: 1px solid #333;
  border-radius: 20px;
}

// Убрать margin 0
.companiesItem .rating {
  margin: 0px;
}
.company {
  margin-right: 10px;
  display: inline-block;
  font-size: 0px;

  width: 35px;
  height: 35px;
  min-width: 35px;
  min-height: 35px;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  box-sizing: border-box;
}

.company.yandex {
  background-image: url("../../../../public/img/reviews/yandex.webp");
}

.company.google {
  background-image: url("../../../../public/img/reviews/google.webp");
}

.company.gis {
  background-image: url("../../../../public/img/reviews/gis.webp");
}

.company.avito {
  background-image: url("../../../../public/img/reviews/avito.webp");
}

.grade {
  margin-right: 10px;
  font-size: 32px;
  line-height: 32px;
  font-weight: 500;
}

.indicators {
  display: flex;
  flex-direction: column;
}

.stars {
  display: flex;
  margin-bottom: 5px;
}

.stars.mini .star {
  width: 15px;
  height: 15px;
}

.star {
  width: 20px;
  height: 20px;
  margin-right: 2.5px;
}

.numbers {
  font-size: 12px;
  line-height: 16px;
  color: #a0a0a0;
}

@media screen and (min-width: 0px) and (max-width: 1150px) {
  .star {
    width: 12px;
    height: 12px;
    margin-right: 2.5px;
  }
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
  .star {
    width: 15px;
    height: 15px;
  }

  .rating {
    margin-bottom: 10px;
  }

  .companies,
  .wrapper {
    position: relative;
    top: 0px;
    width: 100%;
  }

  .companiesItem {
    margin-bottom: 10px;
  }
}
